{{ form_start(form) }}
{{ form_row(form.email)}}
{{ form_row(form.plainPassword)}}
{{ form_row(form.prenom)}}
{{ form_row(form.nom)}}
{{ form_row(form.roles)}}
<button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
