{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row">
			<div class="col-6">
				{% set user = app.user %}
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<p>Nom :
							{{ user.nom }}</p>
						<p>Prénom :
							{{ user.prenom }}</p>
						<p>Email :
							{{ user.email }}</p>
						<a href="{{ path('app_user_edit')}}" class="card-link">Modifier</a>
					</div>
				</div>

				<div class="mt-5">
					<div class="my-2">
					<h5> Mes adresses : </h5>
						
					</div>

					{% set livraison =  constant('App\\Constante\\AdresseTypeConstante::LIVRAISON') %}

					{% if user.getAdresseByType(livraison)|length %}
						<small class="my-1">
							Livraison :
						</small>
					{% endif %}
					<div class="d-flex">
						{% for adresse in user.getAdresseByType(livraison) %}
							<div class="card my-2" style="width: 18rem;">
								<div class="card-body">
									<p>
										{{ adresse.fullAdresse }}</p>
									<a href="{{ path('app_edit_adresse', {id: adresse.id, urlRedirect: path(app.request.get('_route')) })}}" class="card-link">Modifier</a>
									<a href="{{ path('app_delete_adresse', {id: adresse.id, urlRedirect: path(app.request.get('_route'))})}}" class="card-link">Supprimer</a>
								</div>
							</div>
						{% endfor %}
					</div>

					{% set facturation =  constant('App\\Constante\\AdresseTypeConstante::FACTURATION') %}

					{% if user.getAdresseByType(facturation)|length %}
						<small class="my-1">
							Facturation :
						</small>
					{% endif %}

					<div class="d-flex">
						{% for adresse in user.getAdresseByType(facturation) %}
							<div class="card my-2" style="width: 18rem;">
								<div class="card-body">
									<p>
										{{ adresse.fullAdresse }}</p>
									<a href="{{ path('app_edit_adresse', {id: adresse.id, urlRedirect: path(app.request.get('_route')) })}}" class="card-link">Modifier</a>
									<a href="{{ path('app_delete_adresse', {id: adresse.id, urlRedirect: path(app.request.get('_route'))})}}" class="card-link">Supprimer</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mt-3">
					<a href="{{ path('app_panier_validation', {urlRedirect: path(app.request.get('_route'))}) }}" class="btn btn-success">
						Ajouter une adresse
					</a>
				</div>
			</div>
			<div class="col-6">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
					 <h5 class="card-title my-4 text-center">Mes commandes</h5>
						<div class="text-center">
							<a href="{{ path('app_commande_list') }}" class="btn btn-success">Voir les commandes</a>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
{% endblock %}
