{% extends 'base.html.twig' %}

{% block title %}Montre index{% endblock %}

{% block body %}
    <h1>Montre index</h1>

    <table class="table text-center mt-3">
        <thead class="table-secondary">
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Nom de l'image</th>
                <th>CreatedAt</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for montre in montres %}
            <tr>
                <td>{{ montre.id }}</td>
                <td>{{ montre.titre }}</td>
                <td>{{ montre.description }}</td>
                <td>{{ montre.prix }} € </td>
                <td>{{ montre.imageName }}</td>                
                <td>{{ montre.createdAt ? montre.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td><img src="{{ asset('images/montres/' ~ montre.imageName) }}" alt=""</td>
                <td>
                    <a class="btn btn-primary text-white" href="{{ path('app_montre_show', {'id': montre.id}) }}">Fiche</a>
                    <a class="btn btn-warning text-white" href="{{ path('app_montre_edit', {'id': montre.id}) }}">Modifier</a>
                    
                    {{ include('montre/_delete_form.html.twig') }}
                    
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun produit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_montre_new') }}">Ajouter une montre</a>
{% endblock %}
