{% extends 'base_admin.html.twig' %}

{% block title %}Montre{% endblock %}

{% block body %}
    <h1>Montre</h1>

    <a class="btn btn-primary" href="{{ path('app_montre_index') }}">Retour</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ montre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ montre.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ montre.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ montre.prix }} € </td>
            </tr>
            <tr>
                <th>Image_name</th>
                <td>{{ montre.imageName }}</td>
                <td><img src="{{ asset('images/montres/' ~ montre.imageName) | imagine_filter('miniature') }}" alt=""</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ montre.createdAt ? montre.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            {# <a class="btn btn-primary" href="{{ path('app_ajout_panier', {id:montre.id}) }}">Ajouter au panier</a> #}
        </tbody>
    </table>

    

    <a class="btn btn-secondary m-2" href="{{ path('app_montre_edit', {'id': montre.id}) }}">Modifier</a>

    {{ include('montre/_delete_form.html.twig') }}
{% endblock %}
