

<nav class="navbar navbar-expand-lg bg-warning">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('home') }}">Retour au Site</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon bg-light"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_admin_home_page_index') }}">Page d'accueil
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_montre_index')}}">Montres
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_categorie_index')}}">Catégories
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_admin_user_index') }}">Utilisateurs
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_admin_commande_index') }}">Commandes
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_admin_cgv_index') }}">CGV
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
