{% extends "base.html.twig" %}

{#
    La fonction parent() permet de récupérer le contenu du block situé dans le fichier héritée (base.html.twig)
#}
{% block title %}{{ parent() }} | Page principale{% endblock %}

{% block h1 %}Bienvenue chez GYGY STORE{% endblock %}


{% block stylesheets %}
    {# /* <style>
        p{
            color:blue!important;
        }
    </style> */ #}
{% endblock %}

{% block body %}


    {# {{ dump(prenomTwig) }} #}

    {# <h2 class="text-center">Bonjour {{ prenomTwig }}</h2> #}

    <h2 class="text-center">Bonjour 
        {% if app.user %}
            {{ app.user.prenom }}
        {% endif %}
    </h2>

    <img 
        src="{{ asset('images/img.png') }}" 
        alt=""
        title=""
        class="imgHome"
    >

    

    <h2 class="text-center">Bienvenue chez GYGY STORE site dedié à la vente en ligne de montres Femme et Homme</h2>


    {#
        En twig, il existe une variable d'environnement qui s'appelle app
        dans ce tableau, on y trouve 'user'

        quand l'utilisateur n'est pas connectée : app.user est NULL
        quand l'utilisateur est connecté : app.user est un objet issu de l'entity User
    #}

    

{% endblock %}

{% block javascripts %}

    

{% endblock %}