{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block description %}
    Contactez-nous chez GYGY STORE pour toute question ou assistance concernant nos montres en ligne. Notre équipe dévouée est là pour vous fournir des informations détaillées, des conseils personnalisés, et pour répondre à toutes vos demandes.
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2>Formulaire de contact</h2>

        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.telephone) }}
            {{ form_row(form.message) }}

            <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
