{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2>Formulaire de contact</h2>

        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.telephone) }}
            {{ form_row(form.message) }}

            <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
