<nav class="navbar navbar-expand-lg bg-dark">
	<div class="container-fluid text-white">
		<a class="navbar-brand text-white" href="{{ path('home') }}">GYGY STORE</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon bg-light"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				{{ render(controller(
        'App\\Controller\\NavController::index'
    )) }}
				<li class="nav-item">
					<a class="nav-link text-white" href="{{ path('app_login') }}">Mon compte</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="{{ path('app_panier') }}">Panier
						<sup class="text-danger">{{ app.request.session.get('panier') ? app.request.session.get('panier')|length : '' }}</sup>
					</a>
				</li>
			</ul>

			<form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Recherche</button>
      </form>

		</div>
	</div>
</nav>
