{% extends 'base.html.twig' %}

{% block title %}{{montre.titre}}{% endblock %}

{% block body %}
    <h1>{{montre.titre}}</h1>

    

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ montre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ montre.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ montre.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ montre.prix }} € </td>
            </tr>
            <tr>
                <th>Image_name</th>
                <td>{{ montre.imageName }}</td>
                <td><img src="{{ asset('images/montres/' ~ montre.imageName) }}" alt=""</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ montre.createdAt ? montre.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <a class="btn btn-primary" href="{{ path('app_ajout_panier', {id:montre.id}) }}">Ajouter au panier</a>
        </tbody>
    </table>

{% endblock %}
