{% extends 'base.html.twig' %}

{% block title %}Liste des Montres
{% endblock %}

{% block description %}
	{% if categorie|default %}
	Découvrez l'élégance intemporelle de notre collection de montres pour {{categorie.nom|lower }}s sur GYGY STORE. Explorez une gamme diversifiée de montres conçues pour compléter le style et la personnalité de l'{{categorie.nom|lower }} moderne. Des montres classiques aux modèles sportifs, notre sélection propose des pièces de qualité supérieure de marques réputées.
	{% else %}
		Bienvenue dans l'univers de l'élégance intemporelle. Découvrez notre collection exquise de montres de luxe, où l'artisanat exceptionnel rencontre le raffinement ultime. Chez GYGY STORE, nous sommes fiers de vous offrir une sélection soigneusement curated de garde-temps d'exception, alliant technologie de pointe et design sophistiqué.
	{% endif %}
{% endblock %}
{% block body %}

	<div class="container mt-5">
		<div>
			<h2 class="text-center">Liste des Montres
				{% if app.request.get('search') %}
					<span class="badge rounded-pill text-bg-primary">{{ app.request.get('search') }}</span>
				{% endif %}
			</h2>
		</div>

		<div class="row mt-3">
			{% for montre in montres %}
				<div
					class="col-12 col-xxl-3 col-xl-4 col-lg-5 col-md-9 mt-5">
					{# <div class="col-12 col-xl mt-5"> #}
					<a href="{{ path ('app_montre_front',{slug: montre.slug})}}" class="d-flex justify-content-center">

						<div class="card" style="width: 18rem;">
							<img src="{{ asset('images/montres/' ~ montre.imageName) }}" class="card-img-top" alt="...">

							<div class="card-body">
								<p class="my-2 text-dark text-center">{{montre.titre}}</p>
								{# <p class="card-text">{{ montre.description }} </p> #}
								<div class="mt-2 text-center">
									<span class="badge rounded-pill text-bg-primary">{{ montre.prix }}
										€
									</span>
								</div>
							</div>
						</div>
					</a>

					<div class="text-center">
						<a class="btn btn-primary my-2" href="{{ path('app_ajout_panier', {slug: montre.slug}) }}">Ajouter au panier</a>
					</div>
				</div>
				
			{% endfor %}
		</div>
	</div>

{% endblock %}
